<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - LapetroMovies</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="identity-background">
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
