@page
@model RazorPagesMovie.Pages.Movies.IndexModel

<div class="movie-grid">
    @foreach (var movie in Model.Movie)
    {
        <div class="movie-card">
            <img src="~/images/@movie.PosterPath" alt="@movie.Title" class="movie-poster" />
            <h3>@movie.Title</h3>
            <p>@movie.ReleaseDate.ToShortDateString()</p>
            <a class="btn btn-primary" asp-page="./Details" asp-route-id="@movie.Id">View Details</a>
        </div>
    }
</div>
